.about  {
    background-color: var(--background-color);
    width: 100%;
    /* height: 130vh; */
    position: relative;
    top: -80px;
}

.about .about-header {
    display: inline-block;
    background-color: color-mix(in srgb, var(--accent-color) , transparent 95%);
    color: var(--accent-color);
    font-family: var(--heading-font);
    /* width: 100px; */
    padding: 10px 20px;
    border-radius: 7px;
    text-align: center;
    font-weight: 500;
}

.about .container {
    width: 85%;
    align-items: center;
    margin: 100px 0;
}

.about .description {
    width: 39% ;
}

.about .square-button {
    width: 160px;
    font-weight: 500;
}

.about .square-button i{
    font-size: 18px;
    margin-left: 10px;
    transform: translateX(0px);
    transition: 0.4s;
}

.about .square-button:hover i {
    transform: translateX(5px);
}

.about .cards {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.about .cards .card {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    padding: 50px;
    border-radius: 10px;
}


.about .cards .card .card-icon {
    font-size: 32px;
    color: var(--accent-color);
    background-color: color-mix(in srgb, var(--accent-color) , transparent 95%);
    margin-bottom: 24px;
    transition: 0.4s;
}

.about .cards .card:hover .card-icon {
    background-color: color-mix(in srgb, var(--accent-color) , transparent 0%);
    color: #ffffff;
}

.about .cards .card:nth-child(even) {
    transform: translateY(-20px);
}

.about .cards .card:nth-child(odd) {
    transform: translateY(20px);
}

@media (max-width: 1000px) {

    .about {
        align-items: flex-start;
        height: 150vh;
    }

    .about .container {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about .description {
        width: 100%;
    }

    .about .cards {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .about {
        height: 200vh;
    }

    .about .cards {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    .about .cards .card {
        height: 90%;
        padding: 30px;
    }
}