:root {
    /* I copied the colors from the css file for the website*/

    /* fonts */
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
    
    /* Global colors */
    --background-color: #ffffff; 
    --default-color: #444444; 
    --heading-color: #0c0878;
    --heading-bg-color: #16088d;
    --accent-color: #1acc8d; 
    --surface-color: #ffffff; 
    --contrast-color: #ffffff;

    /* nav colors */
    --nav-color: #ffffff; 
    --nav-hover-color: #1acc8d; 
    --nav-mobile-background-color: #ffffff; 
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #444444;
    --nav-dropdown-hover-color: #1acc8d; 
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #eee;
    margin: 0;
}

.scroll-top {
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 4px;
    opacity: 1;
    transition: all 0.4s ease-in-out 0s;
    z-index: 1000;
}

/* 
couldn't find the exact arrow that they had on the website.
i tried using the same uni-code i found but it wasn't there
 */
.scroll-top i {
    font-size: 24px;
    color: #ffffff;
}

.scroll-top:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: var(--default-color);
}

.capitalize {
    text-transform: capitalize;
}

.d-flex {
    display: flex;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section,
.section {
    width: 100%;
    color: var(--default-color);
    background-color: var(--background-color);
    position: relative;
    top: -80px;
}

.round-button {
    width: 150px;
    height: 45px;
    padding: 10px;
    border-radius: 50px;
    background-color: color-mix(in srgb, var(--accent-color) , transparent 0%);
    color: #ffffff;
    font-family: var(--heading-font);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out 0s;
}

.round-button:hover {
    background-color: color-mix(in srgb, var(--accent-color) , transparent 15%);
}

.square-button {
    width: 150px;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    background-color: color-mix(in srgb, var(--accent-color) , transparent 0%);
    color: #ffffff;
    font-family: var(--heading-font);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out 0s;
}

.square-button:hover {
    background-color: color-mix(in srgb, var(--accent-color) , transparent 15%);
}

.container {
    width: 80%;
    position: relative;
}

.circle-80 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--heading-color);
    margin: 0;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

p {
    font-family: var(--default-font);
}